html, body {
    height: 100%;
    background-color: #e6f3ff;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
  }
html,body {
    height:100%;
}
#wrapper {  /*wraps the body and the header to make the footer work*/
    min-height:100%;
}
header{
    background:#597ea2;
    color:#fff;
}

footer {
    position: relative;
    height: 40px;
    padding:5px 0px;
    clear: both;
    background: #8aa4bd;
    text-align: center;
    color: #fff;
}

.form-popup {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}

.form-container input[type=text], .form-container input[type=number], 
.form-container input[type=date],.form-container input[type=password],
.form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}  

/* Set a style for the "envio" button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
          
/* Add a red background color to the cancel button */
 .form-container .reset {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to button */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: DarkBlue;
    margin-left: 40px;
    margin-top: 25px
}                       
 
table,td{
    border: 0;  
    text-align: left;
    height: 23px;
    margin-left: 44px;
    width: 1149px;
    padding: 2px;
    border-collapse: separate;
    border-spacing: 2px;
}