<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>flightController</servlet-name>
        <servlet-class>Controller.flightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>Controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administratorController</servlet-name>
        <servlet-class>Controller.administratorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditCardController</servlet-name>
        <servlet-class>Controller.crediCardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleController</servlet-name>
        <servlet-class>Controller.saleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>flightController</servlet-name>
        <url-pattern>/flightController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administratorController</servlet-name>
        <url-pattern>/administratorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditCardController</servlet-name>
        <url-pattern>/creditCardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleController</servlet-name>
        <url-pattern>/saleController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
