<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>flightController</servlet-name>
        <servlet-class>Controller.flightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>Controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administratorController</servlet-name>
        <servlet-class>Controller.administratorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleController</servlet-name>
        <servlet-class>Controller.saleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginController</servlet-name>
        <servlet-class>Controller.adminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginController</servlet-name>
        <servlet-class>Controller.adminloginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogoutController</servlet-name>
        <servlet-class>Controller.adminlogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>airplaneController</servlet-name>
        <servlet-class>Controller.airplaneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>Controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditcardController</servlet-name>
        <servlet-class>Controller.creditcardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>airportController</servlet-name>
        <servlet-class>Controller.airportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>routeController</servlet-name>
        <servlet-class>Controller.routeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>flightController</servlet-name>
        <url-pattern>/flightController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administratorController</servlet-name>
        <url-pattern>/administratorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditcardController</servlet-name>
        <url-pattern>/creditcardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleController</servlet-name>
        <url-pattern>/saleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginController</servlet-name>
        <url-pattern>/adminloginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogoutController</servlet-name>
        <url-pattern>/adminlogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>airplaneController</servlet-name>
        <url-pattern>/airplaneController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/searchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditcardController</servlet-name>
        <url-pattern>/creditcardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>airportController</servlet-name>
        <url-pattern>/airportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>routeController</servlet-name>
        <url-pattern>/routeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
